.header {
  position: sticky;   
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
}

.logo {
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.links a {
  text-decoration: none;
}